/*
Custom CSS styles that override base theme go here.
*/

.page-faculty .region-secondary-content .hero-copy,
.page-accreditation .region-secondary-content .hero-copy,
.front .region-secondary-content .hero-copy {
  display:none;
}

.page-faculty .region-secondary-content .views-field-field-hero-image,
.page-accreditation .region-secondary-content .views-field-field-hero-image,
.front .region-secondary-content .views-field-field-hero-image {
  width:100%;
  float:none;
  margin:0;
}

.page-faculty .region-secondary-content .views-field-field-hero-image img,
.page-accreditation .region-secondary-content .views-field-field-hero-image img,
.front .region-secondary-content .views-field-field-hero-image img {
  width:100%;
  display:block;
}

.pricing-grid p {
  margin-bottom:0;
}

.schedule-block .view-grouping-header,
.schedule-block caption h3 {
  color:#9e2432;
}

tr.info,
tr.even,
tr:nth-child(2n+2) {
  background-color:#bac5c6;
}

.pricing-grid td {
  vertical-align:bottom;
}

.view-grouping-header {
  border-bottom:1px solid #CCC;
  padding-bottom:10px;
}

.page-schedule .region-secondary-content .views-row-1 .hero-caption {
  margin:0 0 0 2px;
  display:block;
}
